@font-face {
	font-family: 'flm-cirlogo';
	src:url('fonts/flm-cirlogo.eot?ma7dc9');
	src:url('fonts/flm-cirlogo.eot?#iefixma7dc9') format('embedded-opentype'),
		url('fonts/flm-cirlogo.woff?ma7dc9') format('woff'),
		url('fonts/flm-cirlogo.ttf?ma7dc9') format('truetype'),
		url('fonts/flm-cirlogo.svg?ma7dc9#flm-cirlogo') format('svg');
	font-weight: normal;
	font-style: normal;
}

#adminmenu #toplevel_page_flm_options div.wp-menu-image:before { font-family: flm-cirlogo !important; content:"\e601"; font-size: 20px !important; }